div.title{
	text-align: center;
	font-weight: bold; 
}

nav{
	 
	 width:750px;
	 margin: auto;
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a{
	display:block;
	text-align:center;
	width:150px; 
	text-decoration:none;
}

div.container.center{
	text-align: center;
}