div.title{
	text-align: center;
	font-weight: bold; 
	font-size: 40px;
	text-align: top;
	height: 75px;
}

#newsletterForm{
	font-size:20px;
}

#textarea{
	font-size:20px;
}

.tableCell{
	width:150px;
	height: 120px;
}

.carDisplay{
	border: 1px solid black;
}

nav{
	 
	 width:auto;
	 margin: auto;
	
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    float: left;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

nav li a{
	display:block;
	text-align:center;
	font-size: 25px;
	width:150px; 
	text-decoration:none;
}

.tableTitle{
	font-size: 50px;
}

