div.title{
	text-align: center;
	font-weight: bold; 
	font-size: 40px;
	height: 75px;
}

#newsletterForm{
	font-size:20px;
}

#textarea{
	font-size:20px;
}

.tableCell{
	width:150px;
	height: 120px;
}

.carDisplay{
	border: 1px solid black;
}


nav{
	text-align: center;
	width: auto;
	margin: auto;

}
nav ul{
	list-style-type: none;
    display: inline-block;
}

nav li {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 25px;
	width:150px; 
	text-decoration:none;
	display: block;
	float: left;
}

.tableTitle{
	font-size: 50px;
}

.mainSection{
	float: right;
}

meter::after{
	content: "Ta podstrona jest rozbudowywana...";
}





